@{
    ViewBag.Title = "Hợp âm Reader";
}

<br />
<p>
    Là người mới tập chơi Guitar qua mạng và Youtube, mình thường tìm hợp âm của bảng nhạc trên Google để đánh theo. Một vài trỡ ngại thường gặp đó là màng hình của phone hoặc tablet quá nhỏ để hiển đầy đủ lời nhạc và hợp âm. Đang đánh ngon lành được vài hàng thì phải dừng lại chuyển màng hình tới mấy hàng kế tiếp. Còn một vái vấn đề khác là làm sao để chuyển hợp âm cho 1 bài hát hoặc làm sao để có thể đánh đúng theo nhịp etc. Do đó mình làm hopamReader app để hỗ trợ những khó khăn trên trong những buổi ban đầu tập chơi Guitar. Hãy test app này tại http://hopamreader.azurewebsites.net và đóng góp ý kiến của ban. Xin cám ơn..
</p>
<br />
<br />